h1 {
  text-align: center;
  color: rgb(14, 156, 156);
}
img {
  width: 200px;
  display: block;
  padding-top: 5px;
}

.columns {
  display: flex;
  margin-left: 410px;
}

.column-1 {
  display: inline-block;
  margin-top: 70px;
}
.column-2 {
  display: inline-block;
  margin-left: 35px;
  margin-top: 73px;
}
.column-3 {
  display: inline-block;
  margin-left: 35px;
  margin-top: 70px;
}
.column-4 {
  display: inline-block;
  margin-left: 35px;
  margin-top: 180px;
}
.slika-1 {
  width: auto;
  transform: translate(-50%, -50%);
}

.slika-1 .overlay {
  height: 125px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-1 .content {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-1 .content h1 {
  color: white;
}
.slika-1:hover .overlay {
  opacity: 0.5;
}
.slika-2 {
  width: auto;
  transform: translate(-50%, -50%);
  padding-top: 8px;
}

.slika-2 .overlay {
  height: 134.5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-2 .content {
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-2 .content h1 {
  color: white;
  padding-bottom: 40px;
}
.slika-2:hover .overlay {
  opacity: 0.5;
}
.slika-3 {
  width: auto;
  transform: translate(-50%, -50%);
  margin-top: 60px;
}

.slika-3 .overlay {
  height: 261px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-3 .content {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-3 .content h1 {
  color: white;
  padding-right: 20px;
  padding-top: 10px;
}
.slika-3:hover .overlay {
  opacity: 0.5;
}
.slika-4 {
  width: auto;
  transform: translate(-50%, -50%);
}

.slika-4 .overlay {
  height: 133px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-4 .content {
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-4 .content h1 {
  color: white;
}
.slika-4:hover .overlay {
  opacity: 0.5;
}
.slika-5 {
  width: auto;
  transform: translate(-50%, -50%);
  margin-top: 83px;
}

.slika-5 .overlay {
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-5 .content {
  position: absolute;
  top: 90%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-5 .content h1 {
  color: white;
  padding-right: 20px;
  padding-top: 10px;
}
.slika-5:hover .overlay {
  opacity: 0.5;
}
.slika-6 {
  width: auto;
  transform: translate(-50%, -50%);
}

.slika-6 .overlay {
  height: 133px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-6 .content {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-6 .content h1 {
  color: white;
}
.slika-6:hover .overlay {
  opacity: 0.5;
}
.slika-7 {
  width: auto;
  transform: translate(-50%, -50%);
}

.slika-7 .overlay {
  height: 132px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-7 .content {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-7 .content h1 {
  color: white;
}
.slika-7:hover .overlay {
  opacity: 0.5;
}
.slika-8 {
  width: auto;
  transform: translate(-50%, -50%);
  margin-top: 83px;
}

.slika-8 .overlay {
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-8 .content {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-8 .content h1 {
  color: white;
  padding-right: 20px;
  padding-top: 10px;
}
.slika-8:hover .overlay {
  opacity: 0.5;
}
.slika-9 {
  width: auto;
  transform: translate(-50%, -50%);
}

.slika-9 .overlay {
  height: 344px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-9 .content {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-9 .content h1 {
  color: white;
  padding-right: 20px;
  padding-top: 10px;
}
.slika-9:hover .overlay {
  opacity: 0.5;
}
.slika-10 {
  width: auto;
  transform: translate(-50%, -50%);
  margin-top: -46px;
}

.slika-10 .overlay {
  height: 264px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s, ease-in-out;
  background: black;
  cursor: pointer;
}
.slika-10 .content {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
}
.slika-10 .content h1 {
  color: white;
  padding-right: 20px;
  padding-top: 10px;
}
.slika-10:hover .overlay {
  opacity: 0.5;
}
